<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:action="@{/edit}" th:object="${user}" method="POST">

    <input name="id" th:field="*{id}" th:value="${user.id}" hidden="hidden">

    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{name}" th:value="${user.name}" required>
    </br>

    <label for="lastName">lastName</label>
    <input type="text" id="lastName" th:field="*{lastName}" th:value="${user.lastName}" required>
    </br>

    <label for="age">Age</label>
    <input type="text" id="age" th:field="*{age}" th:value="${user.age}" required>
    </br>

    <button type="submit">update user</button>
</form>
</body>